/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* TABLE OF CONTENTS

     1. Basic Document Styles
     2. Typography
     3. Navbar
     4. Button
     5. Home
     6. About
     7. Portfolio
     8. Contact
     9. Footer

 */
 /* 1. Basic Document Styles
 -------------------------------------------------*/

 html * {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 html {
   font-size: 100%;
 }

 body {
   overflow-x: hidden;
   font-family: 'Roboto', 'Helvetica', sans-serif;
   font-weight: 400;
   color: rgba(0,0,0,.87);
   font-size: 14px;
   font-size: .875rem;
   line-height: 20px;
   line-height: 1.25rem;
 }

 h1 {
   font-size: 112px;
   font-size: 7rem;
   color: rgba(0,0,0,.54);
   font-family: 'Roboto', 'Helvetica', sans-serif;
   font-weight: 300;
 }

 h2 {
   font-size: 56px;
   font-size: 3.5rem;
   color: rgba(0,0,0,.54);
   font-family: 'Roboto', 'Helvetica', sans-serif;
   font-weight: 400;
 }

 h3 {
   font-size: 45px;
   font-size: 2.8rem;
   color: rgba(0,0,0,.54);
   font-family: 'Roboto', 'Helvetica', sans-serif;
   font-weight: 400;
   line-height: 48px;
   line-height: 3rem;
 }

 h4 {
   font-size: 34px;
   font-size: 2.1rem;
   color: rgba(0,0,0,.54);
   font-family: 'Roboto', 'Helvetica', sans-serif;
   font-weight: 400;
   line-height: 40px;
   line-height: 2.5rem;
 }

 h5 {
   font-size: 24px;
   font-size: 1.5rem;
   font-weight: 400;
   color: rgba(0,0,0,.87);
   line-height: 32px;
   line-height: 2rem;
 }

 h6 {
   font-size: 20px;
   font-size: 1.2rem;
   font-weight: 500;
   color: rgba(0,0,0,.87);
 }

 caption {
   font-size: 12px;
   font-size: .7rem;
   color: rgba(0,0,0,.54);
 }

 button {
   font-weight: 500;
   font-family: 'Roboto', 'Helvetica', sans-serif;
   font-size: 14px;
   font-size: .8rem;
   color: rgba(0,0,0,.87);
   text-transform: uppercase;
 }

 nav {
   background-color: #009688;
   color: #000;
   text-transform: uppercase;
 }

 i {
   color: #fff;
   padding-right: 5px;
   padding-left: 5px;
 }

 img {
   display: block;
 }

 section {
   padding-top: 100px;
   padding-bottom: 100px;
   height: 1000px;
 }

 a {
   color: #ff6e40;
 }
 /* 2. Typography
 -------------------------------------------------*/

 .primary-color {  color: #009688;  }

 .primary-color100 {  color: #b2dfdb;  }

 .primary-color700 {  color: #00796b;  }

 .accent-color {  color: #ff6E40;  }

 .accent-100 {  color: #ff9E80;  }

 .accent-400 {  color: #ff3D00;  }

 .base-black {  color: #000;  }

 .text-primary-black {
   color: #000;
   opacity: .87;
 }

 .secondary-text-black {
   color: #000;
   opacity: .54;
 }

 .disabled-text-black {
   color: #000;
   opacity: .38;
 }

 .dividers-black {
   color: #000;
   opacity: .12;
 }

 .base-white {  color: #fff;  }

 .text-primary-white {  color: #fff;  }

 .secondary-text-white {
   color: #fff;
   opacity: .70;
 }

 .disabled-text-white {
   color: #fff;
   opacity: .30;
 }

 .dividers-white {
   color: #000;
   opacity: .12;
 }

 /* 3. Navbar
 -------------------------------------------------*/
 .navbar-default .navbar-nav>li>a {  color: #ff6e40;  }

 .navbar-default .navbar-nav>li>a:hover,
 .navbar-default .navbar-nav>li>a:focus {
   border-bottom: 4px solid #ff3d00;
   color: #ff3d00;
 }
 .navbar-default .navbar-brand {  color: #ff6e40;  }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: #ff3d00;
 }

 /* 4. Button
 -------------------------------------------------*/

 .btn {
   min-width: 64px;
   min-height: 36px;
   margin: 8px;
   letter-spacing: 1px;
   text-transform: capitalize;
   background-color: #ff6e40;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
   border: 0 none;
   border-radius: none;
 }

 .btn:focus,
 .btn:active:focus,
 .btn.active:focus {
   outline: 0 none;
   box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
 }

 .btn-primary {
   color: #ffffff;
   background: #ff6e40;
 }

 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary.active,
 .open > .dropdown-toggle.btn-primary {
   background: #ff3d00;
 }

 .btn-primary:active,
 .btn-primary.active {
   background: #ff6e40;
   box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
 }

 .btn-primary.active.focus,
 .btn-primary.active:focus,
 .btn-primary.active:hover,
 .btn-primary:active.focus,
 .btn-primary:active:focus,
 .btn-primary:active:hover,
 .open>.dropdown-toggle.btn-primary.focus,
 .open>.dropdown-toggle.btn-primary:focus,
 .open>.dropdown-toggle.btn-primary:hover {
   background: #ff6e40;
   box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
 }

 /* 5.Home
 -------------------------------------------------*/

 .home-details {  text-align: center;  }

 #home {
   background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/C3C728A494.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }

 #home button a {
   color: #fff;
   text-decoration: none;
 }

 /* 6. About
 ----------------------------------------*/

 #about {
   background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RP5ELZP2B8.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

 #about p {
   font-size: 20px;
   font-size: 1.2rem;
 }

 #about ul {
   font-size: 24px;
   font-size: 1.5rem;
 }

 #about ul li {
   list-style: none;
   font-size: 20px;
   font-size: 1.2rem;
 }

 /* 7. Portfolio
 ----------------------------------------*/

 #portfolio {
   height: 100%;
   text-align: center;
 }

 .card-image img {
   width: 150px;
   height: 150px;
   margin: auto;
 }

 .card-title-container {
   padding: 24px 16px;
   margin: 0;
   height: 72px;
 }

 .card-title {
   font-size: 24px;
   font-size: 1.5rem;
 }

 .card-description {
   display: block;
   font-size: 14px;
   font-size: .8rem;
 }
 /* 8. Contact
 ----------------------------------------*/

 #contact {
   height: 960px;
   background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/2J6UQ7Q46T.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: #fff;
 }

 .social-media {  margin: 10px;  }

 #contact .container {  height: auto;  }

 #contact a {
   color: #fff;
   text-decoration: none;
 }

 /* 9. Footer
 ---------------------------------------*/
 footer {  background-color: #fafafa;  }

 footer .container {  padding: 16px;  }

 footer ul {  padding-left: 0;  }

 footer ul li {
   float: left;
   display: block;
   margin-right: 10px;
   list-style: none;
 }

 footer ul li a:active,
 footer ul li a:hover
 {
   color: #ff3d00;
 }

 .footer-top-section {  height: 25px;  }

 .footer-bottom-section {
   margin-top: 10px;
   margin-top: .714rem;
 }

 /* 10. Media Queries
 -------------------------------*/
 @media (max-width: 400px){
     h1 {
         font-size: 96px;
         font-size: 6rem;
     }

     h2 {
         font-size: 48px;
         font-size: 3rem;
     }

     h3 {
        font-size:33.6px;
        font-size: 2.1rem;
     }

     h4 {
       font-size: 32px;
       font-size: 2rem
     }
 }
